@model CreateArticleViewModel

@{
    ViewData["Title"] = "Edit Post";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <section class="mb-2 mt-1">
            <form asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="@Model.Title" class="form-label-add-edit mb-2 fw-bold"></label>
                    <input asp-for="@Model.Title" class="form-control" />
                    <span asp-validation-for="@Model.Title" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="@Model.Content" class="form-label-add-edit mb-2 fw-bold"></label>
                    <textarea asp-for="@Model.Content" class="form-control" rows="15" aria-required="true"></textarea>
                    <span asp-validation-for="@Model.Content" class="text-danger"></span>
                </div>
                <input asp-for="@Model.ApplicationUserId" type="hidden" class="form-control" />
                <input asp-for="@Model.IsDeleted" type="hidden" class="form-control" />
                <div class="row mt-5">
                    <div class="col-4">
                        <a asp-controller="Portfolio" asp-action="Index" class=" btn btn-dark mb-2" id="custom-back-button">Back</a>
                    </div>
                    <div class="col-8 d-flex align-items-center justify-content-end">
                        <input type="submit" value="Save" class="btn btn-dark col-6" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>


@section Scripts {
        
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
