@model PortfolioViewModel

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<div class="border-2 rounded-3">
    <div class="justify-content-center d-flex">
        <h1 class="display-4">@Model.GreetingsMessage</h1>
    </div>
    <div class="justify-content-center d-flex">
        <h1 class="display-4">@Model.UserDisplayName</h1>
    </div>
    <div class="justify-content-center d-flex">
        <div class="w-50">
            <h2 class="text-center">@Model.Description</h2>
        </div>
    </div>
    @if (User?.Identity?.Name == Model.UserName)
    {
        <div class="justify-content-center d-flex">
            <a asp-controller="Portfolio" asp-action="EditDescription" asp-route-id="@User?.Identity?.Name" class="btn btn-outline-dark">Edit Description</a>
        </div>
    }
    <div class="justify-content-center d-flex border-top mt-3">
        <h1 class="display-4 ">About</h1>
    </div>
    <div class="justify-content-center d-flex">
        <div class="row col-10">
            <div class="col-8 col-md-5 my-auto mx-auto">
                <div class="d-flex w-75 mx-auto">
                    <img decoding="async" src="data:@Model.ProfileImage.ContentType;base64,@Model.ProfileImage.ImageData" asp-append-version="true" class="rounded-circle mx-auto" style="object-fit: cover;width: 20vw;height: 20vw;" />
                </div>
            </div>
            <div class="col-md-7 justify-content-center align-items-center d-flex">
                <div class="col-10 mt-3 justify-content-center align-items-center  d-flex">
                    <p style="font-family: Georgia, serif">
                        &emsp;&emsp;@Model.About
                    </p>
                </div>
            </div>
            @if (User?.Identity?.Name == Model.UserName)
            {
                <div class="text-center mt-3">
                    <a asp-controller="Image" asp-action="All" asp-route-id="@Model.UserName" class="btn btn-outline-dark">Change Profile Picture</a>
                    <a asp-controller="Portfolio" asp-action="EditAbout" asp-route-id="@User?.Identity?.Name" class="btn btn-outline-dark">Edit Text</a>
                </div>
            }
        </div>
    </div>
    <div class="justify-content-center d-flex border-top mt-3">
        <h1 class="display-4">Portfolio</h1>
    </div>
    @if (Model.Projects.Count() == 0)
    {
        @if (@User?.Identity?.Name == Model.UserName)
        {
            <div class="d-flex justify-content-center">
                <a asp-controller="Project" asp-action="Create" asp-route-id="@User?.Identity?.Name" class="btn btn-outline-dark">Add your first project</a>
            </div>
        }
    }
    else
    {
        <div class="justify-content-center col-11 mx-auto">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner rounded-3">
                    <div class="carousel-item active">
                        <img decoding="async" id="" src="data:@Model.Projects.First().Image.ContentType;base64,@Model.Projects.First().Image.ImageData" asp-append-version="true" style="object-fit: cover;width: 100%;height: 50vh;" alt="...">
                        <div class="carousel-caption">
                            <h5 class="text-black bg-light bg-opacity-75 rounded-2">@Model.Projects.First().Description</h5>
                            <div class="bg-light bg-opacity-75 rounded-2">
                                <a class="text-black" href="@Model.Projects.First().Url"><p>Visit site</p></a>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.Projects)
                    {
                        @if (item.Id == Model.Projects.First().Id)
                        {
                            continue;
                        }
                        <div class="carousel-item">
                            <img decoding="async" src="data:@item.Image.ContentType;base64,@item.Image.ImageData" asp-append-version="true" style="object-fit: cover;width: 100%;height: 50vh;" alt="...">
                            <div class="carousel-caption">
                                <h5 class="text-black bg-light bg-opacity-75 rounded-2">@item.Description</h5>
                                <div class="bg-light bg-opacity-50 rounded-2">
                                    <a class="text-black bg-light bg-opacity-75" href="@item.Url"> <p>Visit site</p></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="text-center mt-3">
            <a asp-controller="Project" asp-action="All" asp-route-id="@Model.UserName" class="btn btn-outline-dark">View All</a>
            @if (@User?.Identity?.Name == Model.UserName)
            {
                <a asp-controller="Project" asp-action="Create" asp-route-id="@Model.UserName" class="btn btn-outline-dark">Add New Project</a>
            }
        </div> @*Projects*@
    }

    <div class="justify-content-center d-flex border-top mt-3">
        <h1 class="display-4">Blog</h1>
    </div>
    <div class="justify-content-center d-flex">
        <div class="row">
            @foreach (var item in Model.Blog)
            {
                <div class="col-md-6 card border-0 border-start">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@(item.Content.Substring(0, 149))...</p>
                        <p class="card-text"><small class="text-body-secondary"> Edited on: @(item.EditedOn.ToString("dd-MMM-yyyy"))</small></p>
                        <a asp-controller="Blog" asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-light">Continue reading</a>
                    </div>
                </div>
            }
            <div class="text-center mt-3">
                <a asp-controller="Blog" asp-action="All" asp-route-id="@Model.UserName" class="btn btn-outline-dark">View All Posts</a>
                @if (@User?.Identity?.Name == Model.UserName)
                {
                    <a asp-controller="Blog" asp-action="Create" asp-route-id="@Model.UserName" class="btn btn-outline-dark">Add Post</a>
                }
            </div>
        </div>
    </div>
    <div class="justify-content-center d-flex border-top mt-3">
        <h1 class="display-4">Contact</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center" id="Contact">
        <a asp-action="SendEmail" asp-route-id="@Model.UserName" class="btn btn-outline-dark">Send Message</a>
    </div>
</div>
